@{
    ViewData["Title"] = "IExample Controller Index sayfası";
    Layout = "ExampleLayout";
}

<div>Bu sayfa Example Contoller Index Sayfasıdır</div>

@section header
{

    <p>buradaki kodlar example layout dosyasındaki headerın altındaki RenderSectionAsync kısmına gider</p>

}


@section footer
{

    <p>buradaki kodlar example layout dosyasındaki footerin altındaki RenderSectionAsync kısmına gider</p>

}
